<ion-content>

    <img src="./assets/imgs/rcl-logo.png" alt="RCL Logo">

    <form novalidate>

        <ion-item>
            <ion-label floating>Login</ion-label>
            <ion-input type="text"
                       name="login"
                       [(ngModel)]="credentials.login"
                       required>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password"
                       name="password"
                       [(ngModel)]="credentials.password"
                       required>
            </ion-input>
        </ion-item>

    </form>

</ion-content>

<ion-footer text-center>
    <button class="full" ion-button (click)="login()" [disabled]="!credentials.password">Login & Start</button>

    <button ion-button clear small color="light" (click)="forgotPassword()">Forgot Password</button>
</ion-footer>
