page-login
{
    ion-content.content
    {
        background-color: color($colors, thirdPrimary);

        img
        {
            margin-top: 2rem;
            width: 100%;
        }

        form
        {
            margin-top: 2rem;
            width: 85%;
            margin-left: auto;
            margin-right: auto;

            ion-item.item
            {
                padding-left: 0;
                font-size: 1.3rem;

                .item-inner
                {
                    border-bottom: 2px solid #22b1eb !important;

                    ion-label.label
                    {
                        text-transform: uppercase;
                        font-weight: bold;
                        letter-spacing: 0.8vw;
                        color: color($colors, light);
                    }

                    ion-input.input
                    {
                        color: color($colors, light);
                    }
                }
            }
        }
    }
}
