page-edit-store
{
    ion-content.content
    {
        ion-list.list
        {
            width: 90%;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 10vh;

            hr
            {
                margin-top: 7rem;
                margin-bottom: 5rem;
                height: 3px;
                background-color: black;
            }

            ion-item.item
            {
                margin-bottom: 5vh;

                ion-input
                {
                    width: 90%;
                    font-size: 8vw;
                    color: color($colors, primary);
                    border-bottom: 1px solid #979797;

                    input.text-input
                    {
                        margin-right: 0;
                        text-align: center;

                        &::placeholder
                        {
                            color: color($colors, primary);
                        }
                    }
                }

                &:last-child
                {
                    border-bottom: none !important;
                    box-shadow: none !important;
                }
            }
        }
    }
}
