<ion-header>

    <ion-navbar>

        <ion-buttons left>
            <button clear ion-button icon-only (click)="dismiss()">
                <ion-icon class="back-button-icon-md" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>

    <ion-list no-lines *ngIf="store && store.contact">

        <ion-item>
            <ion-input type="text" [(ngModel)]="store.name" placeholder="Store Name"></ion-input>
        </ion-item>

        <ion-item *ngIf="storeTypes && storeTypes.length > 0">
            <ion-label>Choose Store Type</ion-label>
            <ion-select [(ngModel)]="store.type">
                <ion-option *ngFor="let type of storeTypes" [value]="type">
                    {{ type.type }}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="store.contact.manager" placeholder="Contact Person"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="tel" [(ngModel)]="store.contact.phone" placeholder="Phone / Mobile Number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="store.contact.address" placeholder="Address"></ion-input>
        </ion-item>

        <hr>

        <ion-item>
            <ion-input type="text" [(ngModel)]="store.contact.out_of_stocks" placeholder="Out of Stocks"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Last Order</ion-label>
            <ion-datetime pickerFormat="MM DD YYYY"
                          displayFormat="YYYY-MM-DD"
                          [(ngModel)]="store.contact.last_order"></ion-datetime>
        </ion-item>

        <ion-item *ngIf="daysInWeek?.length > 0">
            <ion-label>Choose Order Day</ion-label>
            <ion-select [(ngModel)]="store.contact.order_day">
                <ion-option *ngFor="let day of daysInWeek" [value]="day">
                    {{ day }}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="daysInWeek?.length > 0">
            <ion-label>Choose Delivery Day</ion-label>
            <ion-select [(ngModel)]="store.contact.delivery_day">
                <ion-option *ngFor="let day of daysInWeek" [value]="day">
                    {{ day }}
                </ion-option>
            </ion-select>
        </ion-item>

    </ion-list>

    <ion-list no-lines *ngIf="store && !store.contact">

        <ion-item>
            <ion-input type="text" [(ngModel)]="store.name" placeholder="Store Name"></ion-input>
        </ion-item>

        <ion-item *ngIf="storeTypes && storeTypes.length > 0">
            <ion-label>Choose Store Type</ion-label>
            <ion-select [(ngModel)]="store.type">
                <ion-option *ngFor="let type of storeTypes" [value]="type">
                    {{ type.type }}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="createStoreContactModel.manager" placeholder="Contact Person"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="tel" [(ngModel)]="createStoreContactModel.phone" placeholder="Phone / Mobile Number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="createStoreContactModel.address" placeholder="Address"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" [(ngModel)]="createStoreContactModel.out_of_stocks" placeholder="Out of Stocks"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Last Order</ion-label>
            <ion-datetime pickerFormat="MM DD YYYY" displayFormat="YYYY-MM-DD" [(ngModel)]="createStoreContactModel.last_order"></ion-datetime>
        </ion-item>

        <ion-item *ngIf="daysInWeek?.length > 0">
            <ion-label>Choose Order Day</ion-label>
            <ion-select [(ngModel)]="createStoreContactModel.order_day">
                <ion-option *ngFor="let day of daysInWeek" [value]="day">
                    {{ day }}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="daysInWeek?.length > 0">
            <ion-label>Choose Delivery Day</ion-label>
            <ion-select [(ngModel)]="createStoreContactModel.delivery_day">
                <ion-option *ngFor="let day of daysInWeek" [value]="day">
                    {{ day }}
                </ion-option>
            </ion-select>
        </ion-item>

    </ion-list>

    <div class="work-buttons" *ngIf="store">
        <button color="secondaryGreen"
                [disabled]="!isDataValid()"
                block
                ion-button
                (click)="update()">
            Update
        </button>
    </div>

</ion-content>
