page-planogram-capture
{
    ion-list.buttons
    {
        margin-top: 5vh;
        margin-bottom: 5vh;

        button
        {
            text-align: center;
            background-color: color($colors, thirdPrimary);
        }
    }
}
