<ion-content>
    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>

    <view-title *ngIf="category" [title]="category.category"></view-title>

    <ion-list no-lines class="buttons">
        <button ion-item detail-none (click)="viewPlanogram()">
            View the Planogram
        </button>
    </ion-list>

    <ion-list radio-group no-lines [(ngModel)]="createPlanogramModel.accurate" (ngModelChange)="accurateChanged()">
        <ion-list-header>
            Is the Planogram Accurate?
        </ion-list-header>

        <ion-item color="secondPrimary">
            <ion-label>Yes</ion-label>
            <ion-radio color="light" value="Yes"></ion-radio>
        </ion-item>

        <ion-item color="secondPrimary">
            <ion-label>No</ion-label>
            <ion-radio color="light" value="No"></ion-radio>
        </ion-item>

        <div class="reason-input" *ngIf="createPlanogramModel.accurate?.toLowerCase() === 'no'">
            <ion-item no-lines>
                <ion-input placeholder="If No, Reason" [(ngModel)]="createPlanogramModel.no_reason"></ion-input>
            </ion-item>
            <div class="line"></div>
        </div>
    </ion-list>

    <div class="footer-buttons">
        <button class="full with-note" [disabled]="createPlanogramModel.images?.length > 4" color="secondSecondary" ion-button (click)="choosePhotoSource()">
            Take photos
            <br>
            <ion-note>(You can take up to 5 photos)</ion-note>
        </button>

        <button class="full" color="secondary" ion-button [disabled]="!isModelValid()" (click)="submit()">
            Submit
        </button>
    </div>

</ion-content>
