page-notes
{
    ion-content
    {
        .note
        {
            padding: 3rem 1rem 1rem;
            text-align: center;
        }
    }

    ion-footer
    {
        button.full
        {
            margin-bottom: 1rem;
            text-align: center;
        }
    }
}
