<ion-content>
    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>

    <view-title [title]="'Customer Note'"></view-title>

    <div class="note" *ngIf="lastNote">
        {{ lastNote.note }}
    </div>

    <div class="note" *ngIf="!lastNote">
        There are no saved notes for store.
    </div>

</ion-content>

<ion-footer>
    <button color="secondary" class="full" ion-item detail-none (click)="makeNewNote()">
        Make a New Note
    </button>
</ion-footer>
