<ion-header>

    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-buttons end>
            <button ion-button icon-end [disabled]="!store" (click)="openEditCustomerPage()">
                Edit
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>

    <div class="store" *ngIf="store">
        <h2>{{ store.name }}</h2>
        <ion-note *ngIf="store.contactPerson || store.latest_done_call">
            <span *ngIf="store.contactPerson" class="bold">Name:&nbsp;</span>
            {{ store.contactPerson ? store.contactPerson + '&nbsp;' : '' }}

            <span *ngIf="store.latest_done_call?.check_in" class="bold">Last Check-In:&nbsp;</span>
            {{ store.latest_done_call?.check_in ? store.latest_done_call?.check_in : ''}}
        </ion-note>
    </div>

    <div class="option-buttons" *ngIf="store">
        <button color="secondary" block [disabled]="isUserInStore()" ion-button (click)="checkIn()">
            1. Check-In & Start
        </button>

        <button clear block [disabled]="!isUserInStore()" ion-button (click)="openObjectivesNotes()">
            Objectives & Notes
        </button>
    </div>

    <ion-list no-lines class="buttons">
        <button ion-item detail-none (click)="openScoreCardPage()" [disabled]="!isUserInStore()">
            <ion-icon name="checkmark-circle-outline" item-start></ion-icon>
            Store Scorecards
        </button>

        <button ion-item detail-none (click)="openPromotionalExecutionPage()" [disabled]="!isUserInStore()">
            <ion-icon name="rocket" item-start></ion-icon>
            Promotional Execution
            <ion-badge color="danger" item-end>1</ion-badge>
        </button>

        <button ion-item detail-none (click)="openSurveysPage()" [disabled]="!isUserInStore()">
            <ion-icon name="today" item-start></ion-icon>
            Surveys to Complete
            <ion-badge color="danger" item-end>3</ion-badge>
        </button>

        <button ion-item detail-none (click)="openForwardSharePage()" [disabled]="!isUserInStore()">
            <ion-icon name="trending-up" item-start></ion-icon>
            Forward Share
        </button>

        <button ion-item detail-none (click)="openPlanogramPage()" [disabled]="!isUserInStore()">
            <ion-icon name="book" item-start></ion-icon>
            Category Flow & Planos
        </button>

        <button ion-item detail-none (click)="openStockOnHandPage()" [disabled]="!isUserInStore()">
            <ion-icon name="cart" item-start></ion-icon>
            Stock on Hand
        </button>
    </ion-list>

    <div class="option-buttons">
        <button clear block [disabled]="!isUserInStore()" ion-button (click)="openSalesPage()">
            Sales & Targets
        </button>

        <button color="danger" block [disabled]="!isUserInStore()" ion-button (click)="checkOut()">
            Check-Out & Done
        </button>
    </div>

</ion-content>
