page-store
{
    .store
    {
        text-align: center;
        color: color($colors, primary);
        margin-top: 4vh;
        margin-bottom: 8vh;

        ion-note
        {
            color: color($colors, primary);
        }
    }

    .buttons
    {
        button
        {
            &:nth-child(1)
            {
                background-color: #0580e6;
            }

            &:nth-child(2)
            {
                background-color: #0069c0;
            }

            &:nth-child(3)
            {
                background-color: #00569e;
            }

            &:nth-child(4)
            {
                background-color: #004680;
            }

            &:nth-child(5)
            {
                background-color: #003460;
            }

            &:nth-child(6)
            {
                background-color: #002442;
            }

            ion-badge.badge
            {
                border-radius: 10px;
                padding: 5px 7px;
            }
        }
    }
}
