<ion-header>

    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-buttons end>
            <button ion-button icon-only (click)="openProfilePage()">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>

    <div class="mileage">
        <ion-icon name="car"></ion-icon>
        Start Mileage
    </div>

    <ion-list no-lines class="buttons" *ngIf="stores?.length > 0">

        <button ion-item detail-none
                *ngFor="let day of daysInWeek"
                (click)="openStoresPage(day)">
            {{ day }}
        </button>

    </ion-list>

    <div class="mileage">
        <ion-icon name="car"></ion-icon>
        End Mileage
    </div>

</ion-content>
