page-calls
{
    ion-content.content
    {
        .mileage
        {
            padding-right: 3vw;
            color: color($colors, primary);
            display: flex;
            justify-content: flex-end;
            font-size: 20px;
            text-transform: uppercase;

            &:first-of-type
            {
                margin-top: 5vh;
            }

            ion-icon
            {
                margin-right: 2vw;
                color: color($colors, secondPrimary);
                font-size: 24px;
            }
        }

        ion-list.buttons
        {
            margin-top: 1vh;
            margin-bottom: 1vh;

            button
            {
                text-align: center;
            }
        }
    }
}
