<ion-content>
    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>

    <view-title [title]="'Category Flows & Planos'"></view-title>

    <ion-list no-lines class="buttons" *ngIf="categories?.length > 0">

        <ion-list-header>
            Category
        </ion-list-header>

        <button ion-item detail-none
                (click)="openPlanogramCapturePage(category)"
                *ngFor="let category of categories">
            {{ category.category }}
        </button>
    </ion-list>

</ion-content>
