radio-question
{
    ion-list.list
    {
        margin-top: 5vh;

        ion-item.item
        {
            ion-label.label
            {
                font-size: 4.5vw;
                white-space: normal;
                text-align: left;
            }
        }
    }
}
