<ion-list radio-group no-lines [(ngModel)]="question.user_answer" (ngModelChange)="calculateScore()">
    <ion-list-header>
        {{ question.question }}
    </ion-list-header>

    <ion-item color="secondPrimary" *ngFor="let answer of question.answers">
        <ion-label>{{ answer.answer }}</ion-label>
        <ion-radio color="light" [value]="answer"></ion-radio>
    </ion-item>
</ion-list>
