<ion-content>
    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>

    <view-title [title]="'Promotional Execution'"></view-title>

    <ion-list no-lines class="buttons">
        <button ion-item detail-none (click)="selectCategory()">
            {{ selectedCategory ? selectedCategory.category : 'Select a Category' }}
        </button>

        <button ion-item detail-none (click)="selectPromotion()">
            {{ selectedPromotion ? selectedPromotion.title : 'Select a Promotion' }}
        </button>
    </ion-list>

    <ion-list radio-group no-lines [(ngModel)]="createPromotionExecutionModel.execution" (ngModelChange)="executionChanged()">
        <ion-list-header>
            Is the Promotion Executed?
        </ion-list-header>

        <ion-item color="secondPrimary">
            <ion-label>Yes</ion-label>
            <ion-radio color="light" value="Yes"></ion-radio>
        </ion-item>

        <ion-item color="secondPrimary">
            <ion-label>No</ion-label>
            <ion-radio color="light" value="No"></ion-radio>
        </ion-item>

        <div class="reason-input" *ngIf="createPromotionExecutionModel.execution?.toLowerCase() === 'no'">
            <ion-item no-lines>
                <ion-input placeholder="If No, Reason" [(ngModel)]="createPromotionExecutionModel.no_reason"></ion-input>
            </ion-item>
            <div class="line"></div>
        </div>
    </ion-list>

    <div class="option-buttons">
        <button class="with-note" [disabled]="createPromotionExecutionModel.images?.length > 4" block color="secondSecondary" ion-button (click)="choosePhotoSource()">
            Take photos
            <br>
            <ion-note>(You can take up to 5 photos)</ion-note>
        </button>

        <button block color="secondary" ion-button [disabled]="!isModelValid()" (click)="submit()">
            Submit
        </button>
    </div>

</ion-content>
