page-forward-share
{
    ion-list.buttons
    {
        margin-top: 5vh;
        margin-bottom: 5vh;

        button
        {
            text-align: center;

            &:first-of-type
            {
                background-color: color($colors, thirdPrimary);
            }
        }
    }

    .target
    {
        height: 9.5rem;
        margin-bottom: 3rem;

        .range
        {
            display: flex;

            div
            {
                height: 7.5rem;

                &#category-facing
                {
                    box-shadow: 1px 3px 130px -23px rgba(0, 0, 0, 0.9);
                    background-color: color($colors, light);

                    p
                    {
                        color: color($colors, primary);
                        text-align: right;
                        padding-right: 5px;
                    }
                }

                &#competitor-facing
                {
                    background-color: color($colors, primary);

                    p
                    {
                        color: color($colors, light);
                        text-align: left;
                        padding-left: 5px;
                    }
                }

                p
                {
                    font-size: 1.4rem;

                    &.percent
                    {
                        font-size: 3.3rem;
                    }
                }
            }
        }

        #additional-value
        {
            height: 2rem;
            width: 40%;
            background-color: color($colors, danger);

            p
            {
                color: color($colors, light);
            }
        }
    }
}
