<ion-content>
    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>

    <view-title [title]="'Forward Share'"></view-title>

    <ion-list no-lines class="buttons">
        <button ion-item detail-none (click)="selectCategory()">
            {{ selectedCategory ? selectedCategory.category : 'Choose a Category' }}
        </button>

        <button ion-item detail-none [disabled]="!selectedCategory" (click)="selectSubCategory()">
            {{ selectedSubCategory ? selectedSubCategory.sub_category : 'Choose a Sub Category' }}
        </button>
    </ion-list>

    <ion-list *ngIf="selectedSubCategory">
        <div class="reason-input">
            <ion-item no-lines>
                <ion-input type="number" placeholder="{{ selectedSubCategory.sub_category }} Facings"
                           (ngModelChange)="categoryFacingChanged($event)"
                           [ngModel]="createForwardShareModel.category_facings"></ion-input>
            </ion-item>
            <div class="line"></div>
        </div>

        <div class="reason-input">
            <ion-item no-lines>
                <ion-input type="number" placeholder="Competitor Facings"
                           (ngModelChange)="competitorFacingChange($event)"
                           [ngModel]="createForwardShareModel.competitor_facings"></ion-input>
            </ion-item>
            <div class="line"></div>
        </div>
    </ion-list>

    <div class="target" *ngIf="createForwardShareModel.category_facings || createForwardShareModel.competitor_facings">
        <div class="range">
            <div id="category-facing">
                <p class="percent" *ngIf="createForwardShareModel.category_facings_percent">
                    {{ createForwardShareModel.category_facings_percent }}%
                </p>
                <p>{{ selectedSubCategory.sub_category }}</p>
            </div>
            <div id="competitor-facing">
                <p class="percent" *ngIf="createForwardShareModel.competitor_facings_percent">
                    {{ createForwardShareModel.competitor_facings_percent }}%
                </p>
                <p>Competitor</p>
            </div>
        </div>
        <div id="additional-value">
            <p *ngIf="createForwardShareModel.category_facings">40% Target</p>
        </div>
    </div>

    <div class="option-buttons">
        <button color="secondary" block ion-button [disabled]="!isModelValid()" (click)="openSignPage()">
            Done & Sign
        </button>
    </div>

</ion-content>
