page-home
{
    ion-navbar
    {
        button.bar-button
        {
            color: color($colors, light);
        }
    }

    ion-content.content
    {
        background-color: color($colors, pink);
        color: color($colors, light);

        .dashboard-data
        {
            margin-top: 3rem;
            text-align: center;

            p
            {
                color: #aa2344;
                font-size: 2.5rem;
            }

            h3
            {
                font-weight: bold;
                font-size: 5.5rem;
            }
        }
    }
}
