<ion-header>

    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-buttons end>
            <button ion-button icon-only (click)="openProfilePage()">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>
    <div class="dashboard-data" *ngIf="dashboardData">
        <p>You are on</p>
        <h3>{{ dashboardData.done_calls_percent }}%</h3>
        <p>
            <span class="bold">{{ dashboardData.done_calls }}</span>
            out of
            <span class="bold">{{ dashboardData.target_calls }}</span>
            stores
        </p>

        <br><br>

        <p>Sales This Month</p>
        <h3>R{{ dashboardData.total_sales }}</h3>
        <p><span class="bold">Total</span></p>
    </div>

    <div class="footer-buttons">
        <button ion-button
                clear
                icon-start
                color="light"
                (click)="quickStart()">
            <ion-icon name="flash"></ion-icon>
            Quick Start
        </button>
        <button ion-button class="full" (click)="openCallsPage()">
            Start My Calls
        </button>
    </div>
</ion-content>
