// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


@import "../assets/fonts/avenir-next";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
    primary: #01345f,
    secondPrimary: #14b4e5,
    thirdPrimary: #0069c0,
    secondary: #1fb100,
    secondSecondary: #00b171,
    danger: #b10000,
    light: #ffffff,
    dark: #212121,
    pink: #ff507b
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$font-family-ios-base: "Avenir Next";
$toolbar-ios-border-color: transparent;
$menu-ios-background: color($colors, primary);
$text-input-ios-background-color: transparent;
$list-ios-background-color: transparent;
$picker-ios-background-color: color($colors, light);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$font-family-md-base: "Avenir Next";
$menu-md-background: color($colors, primary);
$text-input-md-background-color: transparent;
$list-md-background-color: transparent;
$picker-md-background-color: color($colors, light);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$font-family-wp-base: "Avenir Next";
$menu-wp-background: color($colors, primary);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
$background-color: #fafafa;
$toolbar-background: transparent;
$toolbar-border-color: transparent;

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
