// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item-inner
{
    box-shadow: none !important;
    border-bottom: none !important;
}

ion-app.app-root
{
    font-size: 16px;
}

ion-header.header
{
    &::after
    {
        content: none;
    }
}

ion-menu
{
    ion-content.content
    {
        background-color: color($colors, primary);
    }

    ion-label.label
    {
        color: color($colors, light);
    }

    button.item
    {
        background-color: color($colors, primary);
    }
}

ion-navbar
{
    button.bar-button
    {
        color: color($colors, primary);
    }
}

ion-footer.footer
{
    &::before
    {
        content: none;
    }
}

p,
h3
{
    margin-bottom: 0;
    margin-top: 0;
}

.bold
{
    font-weight: bold;
}

ion-list
{
    ion-list-header.item
    {
        margin-bottom: 0;
        border-top: 0;

        ion-label.label
        {
            font-size: 5vw;
            white-space: normal;
            text-align: left;
        }
    }

    &.buttons
    {
        button
        {
            min-height: 5.5rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.5vw;
            margin-top: 0;
            margin-bottom: 1px;
            color: color($colors, light);
            background-color: color($colors, primary);

            ion-label.label
            {
                white-space: inherit;
            }

            ion-note
            {
                font-size: 1.5rem;
                display: flex;
                padding-top: 0.5vh;
                text-transform: initial;
                color: color($colors, light);
                font-weight: normal;
            }
        }
    }
}

div.footer-buttons
{
    position: fixed;
    bottom: 1rem;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);

    button:first-of-type
    {
        margin-bottom: 1.4rem;
    }
}

button.full
{
    box-shadow: 1px 3px 130px -23px rgba(0, 0, 0, 0.9);
    margin: 0 auto;
    width: 85%;
    height: 5.5rem;
    border-radius: 2vh;
    text-transform: uppercase;
    font-size: 1.7rem;
}

div.categories
{
    overflow: auto;
    white-space: nowrap;

    button
    {
        color: #afafaf;
        padding-bottom: 0;
        padding-left: 3vw;
        padding-right: 3vw;
        margin: 0;
        font-size: 6vw;
        border-radius: unset;
        border-bottom: 0.6vw solid #afafaf;

        &.active
        {
            color: color($colors, dark);
            border-bottom: 1vw solid color($colors, secondPrimary);
        }
    }
}

.option-buttons
{
    button.button-block.button
    {
        box-shadow: 1px 3px 130px -23px rgba(0, 0, 0, 0.9);
        margin: 0 auto 3.5vh;
        width: 85%;
        min-height: 5.5rem;
        border-radius: 2vh;
        text-transform: uppercase;
        font-size: 5.2vw;
    }
}

.reason-input
{
    ion-item.item
    {
        border-bottom: none;
        padding-left: 0;

        .item-inner
        {
            padding-right: 0;

            ion-input
            {
                input
                {
                    margin-left: 1vw;
                    margin-right: 1vw;
                    text-align: center;
                }
            }
        }
    }

    .line
    {
        width: 40%;
        border-bottom: 2px solid color($colors, danger);
        margin: auto;
    }
}

button.button.with-note
{
    white-space: normal;

    .button-inner
    {
        flex-direction: column;

        ion-note.note
        {
            font-size: 1.5rem;
            color: color($colors, light);
            text-transform: none;
        }
    }
}
