<ion-menu [content]="content" [enabled]="isUserLoggedIn">

    <ion-content>
        <ion-list no-lines>
            <button menuClose detail-none ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>

    <ion-footer>
        <ion-list no-lines>
            <button menuClose detail-none ion-item (click)="logout()">
                Logout
            </button>
        </ion-list>
    </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
