page-score-card
{
    .questionnaire
    {
        margin-top: 5vh;

        .sticky
        {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        button.select-product
        {
            height: 8vh;
            font-size: 4.5vw;
            text-transform: capitalize;
            margin: 0;
            white-space: inherit;
        }

        ion-list.list
        {
            margin-top: 5vh;

            ion-item.item
            {
                ion-label.label
                {
                    font-size: 4.5vw;
                    white-space: normal;
                    text-align: left;
                }
            }
        }

        .option-buttons
        {
            margin-top: 7vh;
            position: sticky;
            text-align: center;
            bottom: 0;

            button.score-button.button
            {
                font-size: 3.5rem;
                height: 6vh;
                padding-right: 3vw;
                padding-left: 3vw;
                padding-top: 1vh;
                color: color($colors, thirdPrimary);
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

            button.done-button.button
            {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .additional-questions
    {
        margin-top: 7vh;
    }
}
