<ion-content>
    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>

    <view-title [title]="'In Store Perishable'"></view-title>

    <div class="questionnaire" *ngIf="questionnaire">

        <div class="sticky">
            <button id="select-product"
                    class="select-product"
                    ion-button
                    block
                    full
                    color="primary"
                    [disabled]=""
                    (click)="selectProduct()">
                {{ selectedProduct ? selectedProduct.name : 'Select Product' }}
            </button>
        </div>

        <div *ngIf="questions">

            <ion-list radio-group no-lines
                      *ngFor="let question of questions"
                      [(ngModel)]="question.userAnswer"
                      (ngModelChange)="userAnswerChanged()">
                <ion-list-header>
                    {{ question.title }}
                </ion-list-header>

                <ion-item color="secondPrimary" *ngFor="let answer of question.answers">
                    <ion-label>{{ answer.value }}</ion-label>
                    <ion-radio color="light" [value]="answer"></ion-radio>
                </ion-item>

                <ion-item *ngIf="question.type === 'select' && question.userAnswer.additional">
                    <ion-label>{{ question.additionalQuestion.title }}</ion-label>
                    <ion-select [(ngModel)]="question.additionalQuestion.userAnswer"
                                (ngModelChange)="userAnswerChanged()">
                        <ion-option *ngFor="let additionalAnswer of question.additionalQuestion.answers"
                                    [value]="additionalAnswer">
                            {{ additionalAnswer.value }}
                        </ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="question.type === 'photo' && question.userAnswer.additional">
                    <button ion-button
                            color="primary"
                            small
                            (click)="takePhoto()">{{ question.additionalQuestion.title }}</button>
                </ion-item>
            </ion-list>

        </div>

        <div class="option-buttons">
            <button class="done-button"
                    *ngIf="filteredProducts?.length > 0"
                    color="secondary"
                    block
                    ion-button
                    [disabled]=""
                    (click)="nextProduct()">
                Next Product
            </button>
        </div>

        <div style="margin-top: 12rem;" class="additional-questions" *ngIf="additionalQuestions">

            <ion-list radio-group no-lines
                      *ngFor="let question of additionalQuestions"
                      [(ngModel)]="question.userAnswer"
                      (ngModelChange)="userAnswerChanged()">
                <ion-list-header>
                    {{ question.title }}
                </ion-list-header>

                <ion-item color="secondPrimary" *ngFor="let answer of question.answers">
                    <ion-label>{{ answer.value }}</ion-label>
                    <ion-radio color="light" [value]="answer"></ion-radio>
                </ion-item>

                <ion-item *ngIf="question.type === 'select' && question.userAnswer.additional">
                    <ion-label>{{ question.additionalQuestion.title }}</ion-label>
                    <ion-select [(ngModel)]="question.additionalQuestion.userAnswer"
                                (ngModelChange)="userAnswerChanged()">
                        <ion-option *ngFor="let additionalAnswer of question.additionalQuestion.answers"
                                    [value]="additionalAnswer">
                            {{ additionalAnswer.value }}
                        </ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="question.type === 'photo' && question.userAnswer.additional">
                    <button ion-button
                            color="primary"
                            small
                            (click)="takePhoto()">{{ question.additionalQuestion.title }}</button>
                </ion-item>
            </ion-list>

        </div>

        <div class="option-buttons">
            <button class="score-button" ion-button no-margin color="light">Score: {{ scoreAmount }}</button>
            <button class="done-button"
                    color="secondary"
                    block
                    ion-button
                    (click)="openSignPage()">
                Done & Sign
            </button>
        </div>

    </div>

</ion-content>
