view-title
{
    h2
    {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .line
    {
        margin-top: 1vh;
        border-bottom: 0.55px solid #bdbdbe;

        .blue-line
        {
            border-bottom: 4px solid color($colors, secondPrimary);
            width: 40%;
            margin: auto;
        }
    }
}
