page-sales-data
{
    ion-list.buttons
    {
        margin-top: 5vh;
        margin-bottom: 5vh;

        button
        {
            text-align: center;

            &:first-of-type
            {
                background-color: color($colors, thirdPrimary);
            }
        }
    }

    .sales-data
    {
        .indicators
        {
            height: 4rem;
            display: flex;

            .amount
            {
                background-color: color($colors, light);
                display: inline-flex;
                align-items: center;
                justify-content: flex-end;

                p
                {
                    color: color($colors, primary);
                    font-size: 2rem;
                    text-align: right;
                    padding-right: 5px;
                }
            }

            .left
            {
                background-color: color($colors, danger);
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;

                p
                {
                    color: color($colors, light);
                    font-size: 1.2rem;
                    text-align: left;
                    padding-left: 5px;
                }
            }
        }

        .month
        {
            text-align: center;
        }

        .year
        {
            text-align: center;
        }
    }
}
