<ion-content>
    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>

    <view-title [title]="'Sales Achieved'"></view-title>

    <ion-list no-lines class="buttons">
        <button ion-item detail-none (click)="selectCategory()">
            {{ selectedCategory ? selectedCategory.category : 'Choose a Category' }}
        </button>

        <button ion-item detail-none [disabled]="!selectedCategory" (click)="selectSubCategory()">
            {{ selectedSubCategory ? selectedSubCategory.sub_category : 'Choose a Sub Category' }}
        </button>
    </ion-list>

    <div class="sales-data" *ngIf="selectedSubCategory && data">
        <div class="month">
            <p>Month to Date</p>

            <div class="indicators">
                <div class="amount" [ngStyle]="{ 'width.%': data.percentage_achieved_month }">
                    <p>{{ data.percentage_achieved_month }}%</p>
                </div>
                <div class="left" [ngStyle]="{ 'width.%': 100 - data.percentage_achieved_month }">
                    <p>{{ data.remaining_cases_for_month }} Cases Remaining</p>
                </div>
            </div>
        </div>

        <div class="year">
            <p>Year to Date</p>

            <div class="indicators">
                <div class="amount" [ngStyle]="{ 'width.%': data.percentage_achieved_year }">
                    <p>{{ data.percentage_achieved_year }}%</p>
                </div>
                <div class="left" [ngStyle]="{ 'width.%': 100 - data.percentage_achieved_year }">
                    <p>{{ data.remaining_cases_for_year }} Cases Remaining</p>
                </div>
            </div>
        </div>
    </div>

</ion-content>
