page-score-card-sign
{
    .signPad
    {
        margin-top: 5vh;

        p
        {
            margin-bottom: 1vh;
            color: color($colors, primary);
            font-size: 4.5vw;
            text-align: center;
        }

        canvas
        {
            background-color: #efefef;
        }
    }

    ion-footer
    {
        margin-bottom: 2vh;
    }
}
