<ion-header>

    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>

</ion-header>

<ion-content>

    <view-title [title]="'In Store Perishable'"></view-title>

    <div class="signPad">
        <p>Field Sales Signature</p>

        <signature-pad [options]="signaturePadOptions"
                       (onEndEvent)="drawComplete()"></signature-pad>
    </div>

    <div class="store-options" text-center>
        <button color="danger" ion-button [disabled]="!signature" (click)="clearSignPad()">
            Clear
        </button>

        <button color="secondary" class="full" block ion-button [disabled]="!signature" (click)="done()">
            Done & Sign
        </button>
    </div>

</ion-content>
