<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            Frozen Fish
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-slides *ngIf="imageUrls.length > 0" zoom>
        <ion-slide *ngFor="let image of imageUrls">
            <div class="swiper-zoom-container">
                <img [src]="image.url" [alt]="image.subtitle">
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>
