<ion-header>

    <ion-navbar>

        <ion-buttons left>
            <button clear ion-button icon-only (click)="dismiss()">
                <ion-icon class="back-button-icon-md" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>

    <view-title *ngIf="store" [title]="'New Note for ' + store.name"></view-title>

    <ion-list no-lines>
        <ion-item>
            <ion-textarea placeholder="Enter a note" rows="8" [(ngModel)]="createNoteModel.note"></ion-textarea>
        </ion-item>
    </ion-list>

    <div class="footer-buttons">
        <button color="secondaryGreen"
                [disabled]="!isDataValid()"
                block
                ion-button
                (click)="save()">
            Save
        </button>
    </div>

</ion-content>
