page-stores
{
    p.info
    {
        color: color($colors, primary);
        text-align: center;
        margin-top: 1rem;
        font-size: 1.3rem;
    }

    .buttons
    {
        margin-top: 4vh;

        ion-input
        {
            font-size: 8vw;
            color: color($colors, primary);

            input::placeholder
            {
                color: color($colors, primary);
            }
        }

        ion-item-options
        {
            .button
            {
                background-color: color($colors, thirdPrimary);
            }
        }
    }
}
