<ion-header>

    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>

</ion-header>

<ion-content>

    <p class="info">Swipe Left on Store to Skip Call</p>

    <ion-list no-lines class="buttons">

        <ion-item>
            <ion-input type="text" placeholder="Search" (keyup)="filterStores($event)"></ion-input>
        </ion-item>

        <div text-center *ngIf="allStores">
            <div *ngIf="allStores.length < 1">
                There are no calls
            </div>

            <div *ngIf="allStores.length > 0 && filteredStores?.length < 1">
                There are no stores with given name
            </div>
        </div>

        <ion-item-sliding *ngFor="let store of filteredStores">

            <button ion-item detail-none
                    (click)="openStorePage(store)">
                {{ store.name }}
                <ion-note *ngIf="store.contactPerson || store.latest_done_call">
                    <span *ngIf="store.contactPerson" class="bold">Name:&nbsp;</span>
                    {{ store.contactPerson ? store.contactPerson + '&nbsp;' : '' }}

                    <span *ngIf="store.latest_done_call?.check_in" class="bold">Last Check-In:&nbsp;</span>
                    {{ store.latest_done_call?.check_in ? store.latest_done_call?.check_in : ''}}
                </ion-note>
            </button>

            <ion-item-options side="right">
                <button ion-button (click)="skipCall(store.call.id)">
                    <ion-icon name="redo"></ion-icon>
                    Skip Call
                </button>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

</ion-content>
